<div class="container">
<h2 class="text-center meus-pets-text">Meus Pets</h2>
<hr>
  <div class="conteinerIndexPets">
    <% @pets.each do |pet| %>
      <div class="box">
          <%= link_to pet_path(pet), class:"text-decoration-none" do %>
            <div class="imgBx shadow-lg">
              <% if pet.photo.attached? %>
                <%= cl_image_tag pet.photo.key, class:""%>
              <% else %>
                <img src="https://images.pexels.com/photos/39317/chihuahua-dog-puppy-cute-39317.jpeg?auto=compress&cs=tinysrgb&w=600">
              <% end %>
            </div>
          <% end %>
        <div class="content">
          <h2><%= pet.name %><br><span><%= pet.breed %></span></h2>
          <div class="EditDelete">
            <%= link_to edit_pet_path(pet) do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="buttonADD mt-5">
    <%= button_to "+ PET", new_pet_path, method: :get, class: "btn-gradient2 shadow-lg" %>
  </div>
</div>
