<div class="container p-3 mb-4 rounded">
  <div class="cover mb-2">
    <div class="d-flex flex-column">
      <div class="card_service">
        <p><%= link_to "ALIMENTAÇÃO", foods_path, class: "card-category text-decoration-none", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1568640347023-a616a30bc3bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80)" %></p>
        <%#= render "foods/food" %>
      </div>
      <div class="card_service">
        <p><%= link_to "BANHO E TOSA", baths_path, class: "card-category text-decoration-none", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1647496849037-3390ed7805a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)" %></p>
      </div>
      <div class="card_service">
        <p><%= link_to "CONSULTAS VETERINÁRIO", appointments_path, class: "card-category text-decoration-none", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1584982751601-97dcc096659c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80)" %></p>
      </div>
      <div class="card_service">
        <p><%= link_to "VACINAS", vaccines_path, class: "card-category text-decoration-none", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.pixabay.com/photo/2018/04/29/11/03/syringe-3359627_960_720.jpg)" %></p>
      </div>
      <div class="card_service">
        <p><%= link_to "MEDICAMENTOS", medications_path, class: "card-category text-decoration-none", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.pixabay.com/photo/2020/10/02/09/01/tablets-5620566__340.jpg)" %></p>
      </div>
    </div>
  </div>
</div>
