<!-- Accordion # Always open -->
<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
      <%= link_to "ðŸ— ALIMENTAÃ‡ÃƒO", "#", class: "accordion-button card-category text-decoration-none", type: "button", data:{bs_toggle: "collapse", bs_target: "#panelsStayOpen-collapseOne"}, aria: {expanded: "true", controls: "panelsStayOpen-collapseOne"}, style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.freepik.com/free-photo/beautiful-pet-portrait-dog_23-2149218450.jpg?size=626&ext=jpg&ga=GA1.2.480276464.1662565106)" %>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <%= render "foods/foods" %>
          <div class="card-btn-service">
            <%= button_to "+ detalhes", foods_path, method: :get, class: "btn-gradient" %>
            <%= button_to "+ ", new_food_path, method: :get, class: "btn-gradient2" %>
          </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <%= link_to "BANHO E TOSA ðŸ›", "#", class: "accordion-button card-category text-decoration-none", type: "button", data:{bs_toggle: "collapse", bs_target: "#panelsStayOpen-collapseTwo"}, aria: {expanded: "true", controls: "panelsStayOpen-collapseTwo"}, style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://image.shutterstock.com/image-photo/pure-youth-crazy-english-cocker-260nw-1424153078.jpg)" %>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
        <%= render "baths/baths" %>
          <div class="card-btn-service">
            <%= button_to "ðŸ›", baths_path, method: :get, class: "btn-gradient" %>
            <%= button_to "+", new_bath_path, method: :get, class: "btn-gradient2" %>
          </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <%= link_to "ðŸ©º CONSULTAS VETERINÃRIO", "#", class: "accordion-button card-category text-decoration-none", type: "button", data:{bs_toggle: "collapse", bs_target: "#panelsStayOpen-collapseThree"}, aria: {expanded: "true", controls: "panelsStayOpen-collapseThree"}, style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://image.shutterstock.com/image-photo/funny-welsh-corgi-pembroke-dog-260nw-2134403643.jpg)" %>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
        <%= render "appointments/appointments" %>
          <div class="card-btn-service">
            <%= button_to "ðŸ©º", appointments_path, method: :get, class: "btn-gradient" %>
            <%= button_to "+", new_appointment_path, method: :get, class: "btn-gradient2" %>
          </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <%= link_to "VACINAS ðŸ’‰", "#", class: "accordion-button card-category text-decoration-none", type: "button", data:{bs_toggle: "collapse", bs_target: "#panelsStayOpen-collapseFour"}, aria: {expanded: "true", controls: "panelsStayOpen-collapseFour"},style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://image.shutterstock.com/image-photo/funny-british-shorthair-cat-portrait-260nw-2097266809.jpg)" %>
    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
      <div class="accordion-body">
        <%= render "vaccines/vaccines" %>
          <div class="card-btn-service">
            <%= button_to "ðŸ’‰", vaccines_path, method: :get, class: "btn-gradient" %>
            <%= button_to "+", new_vaccine_path, method: :get, class: "btn-gradient2" %>
          </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <%= link_to "ðŸ’Š MEDICAMENTOS", "#", class: "accordion-button card-category text-decoration-none", type: "button", data:{bs_toggle: "collapse", bs_target: "#panelsStayOpen-collapseFive"}, aria: {expanded: "true", controls: "panelsStayOpen-collapseFive"}, style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.freepik.com/free-photo/group-portrait-adorable-puppies_53876-64778.jpg?size=626&ext=jpg&ga=GA1.2.480276464.1662565106)" %>
    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive>
      <div class="accordion-body">
        <%= render "medications/medications" %>
          <div class="card-btn-service">
            <%= button_to "ðŸ’Š", medications_path, method: :get, class: "btn-gradient" %>
            <%= button_to "+", new_medication_path, method: :get, class: "btn-gradient2" %>
          </div>
      </div>
    </div>
  </div>
</div>
