<div class="container">
  <h1>Editar Pet</h1>
  <%= simple_form_for @pet do |f| %>
  <%= f.input :name, label: "Nome", include_blank: false %>
  <%= f.input :sex, collection: Pet::SEXO.map { |e| e.capitalize}, include_blank: false, label: "Gênero"%>
  <%# <i class="fa-solid fa-mars btn btn-primary" > Macho</i>
  <i class="fa-solid fa-venus btn btn-primary"> Femea</i> %>
  <%# VERIFICAR COMO VAI FICAR O DIA E ANO (RANGE DE 10 ANOS) %>
  <%= f.input :age, label: "Nascimento*" %>
  <p>*Se não souber, insira uma data aproximada</p>
  <%= f.input :breed, collection: Pet::RACA.map, include_blank: false, placeholder: "SRD", label: "Raça" %>
  <%= f.input :size, collection: Pet::PORTE.map { |e| e.capitalize}, include_blank: false, label: "Porte"%>
  <%= f.input :weight, label: "Peso" %>
  <%= f.input :neutered, label: "Castrado" %>
  <%= f.input :microchipped, label: "Microchipado" %>
  <%= f.input :energy_level, collection: Pet::ENERGIA.map { |e| e.capitalize}, include_blank: false, label: "Nível de Energia" %>
  <%= f.input :feeding_schedule, label: "Quantas vezes o animal se alimenta ao dia?" %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Editar Pet", class:"btn btn-primary" %>
  <% end %>
</div>

<div class="container">
  <%= link_to "Meu Portal", "#" , class: "btn btn-primary" %>
</div>
