<div class="container shadow-sm p-3 mb-5 bg-white rounded">
  <div class="cover mb-4 d-flex align-items-center justify-content-center">
    <div class="text-center">
      <h1>Meus pets</h1>
      <h3 class="typed-js" data-controller="typed-js"></h3>
    </div>
  </div>
  <div class="row justify-content-around">
    <%@pets.each do |pet|%>
      <div class="card ml-3 mt-2" style="width: 18rem;">
        <% if pet.photo.attached?%>
        <%= cl_image_tag pet.photo.key, width: 945, class: "pet-img card-img-top" %>
        <% else %>
        <img src="https://images.pexels.com/photos/39317/chihuahua-dog-puppy-cute-39317.jpeg?auto=compress&cs=tinysrgb&w=600" style="border-radius: 5%; margin-top: 1rem;" class="card-img-top" alt="...">
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= pet.name %></h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa-solid fa-paw"></i> Raça: <%= pet.breed %></li>
          <li class="list-group-item"><i class="fa-solid fa-weight-scale"></i> Porte: <%= pet.size %></li>
        </ul>
        <div class="card-body">
          <%= link_to "Editar", edit_pet_path(pet), class: "btn btn-primary" %>
         <%= link_to "Deletar Pet", pet_path(pet), class: "btn btn-primary", data: {turbo_method: :delete, turbo_confirm: "Você tem certeza?"} %>
        </div>
      </div>
    <% end %>
  </div>