<div class="background-pets">
  <div class="container-pets">
    <div class="nome">
      <h1><strong><%= @pet.name %></strong></h1>
    </div>
    <%# ----------------- PET -----------------%>
    <div class="">
      <div class="card-pet mt-5">
          <% if @pet.photo.attached? %>
            <div class="petphoto" style= "background-image: url(<%= cl_image_path @pet.photo.key, :gravity=>"face", :height=>500, :width=>500, :crop=>"fill" %>)">
              <%#= cl_image_tag @pet.photo.key%>
            </div>
          <% end %>
        <div class="row text-start ps-5">
          <p> <strong>Raça:</strong>
          <%=@pet.breed %> </p>
          <p> <strong>Idade:</strong>
          <%=@pet.age %> </p>
          <p> <strong>Peso:</strong>
          <%=@pet.weight %>
          <%= "kg"%> </p>
          <p> <strong> Gênero:</strong>
          <%=@pet.sex %></p>
        </div>
      </div>
    </div>
    <%# ----------------- ALIMENTAÇÃO -----------------%>
    <div class="container center mt-5 mb-5">
      <div class="row card-pet">
        <h3><strong>Alimentação</strong></h3>
          <div class="col-6 text-start mt-3">
            <p>Por dia, eu como </p>
            <p>Eu gosto da ração:</p>
            <p>Vou ficar sem ração no dia  </p>
          </div>
          <div class="col-6">
            <%= button_to "+", new_food_path, method: :get, class: "btn-learn-more"%>
          </div>
      </div>
    </div>
    <%# ----------------- HIGIENE -----------------%>
    <div class="container center mt-5 mb-5">
      <div class="row card-pet">
        <h3><strong>Banho e Tosa</strong></h3>
        <div class="card-pet">
          <div class="col-6 text-start mt-3">
            <p>Meu último banho/tosa foi em:</p>
            <p>Próximo agendamento para:</p>
          </div>
          <div class="col-6">
            <%= button_to "+", new_bath_path, method: :get, class: "btn-learn-more mt-3"%>
          </div>
        </div>
      </div>
    </div>
    <%# ----------------- CONSULTAS VETERINÁRIO -----------------%>
    <div class="container center mt-5 mb-5">
      <div class="row card-pet">
        <h3><strong>Consultas Veterinário</strong></h3>
        <div class="row">
          <div class="col-6 text-start mt-3">
            <p>Você vai mentir pra mim falando que vamos passear, mas vamos no veterinário no dia: </p>
          </div>
          <div class="col-6">
            <%= button_to "+", new_appointment_path, method: :get, class: "btn-learn-more mt-5"%>
          </div>
        </div>
      </div>
    </div>
    <%# ----------------- VACINAS -----------------%>
    <div class="container center mt-5 mb-5">
      <div class="row card-pet">
        <h3><strong>Vacinas</strong></h3>
        <div class="row">
          <div class="col-6 text-start mt-3">
            <p>Ai ai ai!</p>
            <p>Tenho que tomar a vacina "#" no dia:</p>
          </div>
          <div class="col-6">
            <%= button_to "+", new_vaccine_path, method: :get, class: "btn-learn-more mt-5"%>
          </div>
        </div>
      </div>
    </div>
        <%# ----------------- MEDICAMENTOS -----------------%>
    <div class="container center mt-5 mb-5">
      <div class="row card-pet">
        <h3><strong>Medicamentos</strong></h3>
        <div class="row">
          <div class="col-6 text-start mt-3">
            <p>Meu proximo medicamento vai ser às ___ hrs</p>
          </div>
          <div class="col-6">
            <%= button_to "+", new_medication_path, method: :get, class: "btn-learn-more mt-5"%>
          </div>
        </div>
      </div>
    </div>


    <%# ----------------- EDIT & DELETE -----------------%>
        <%= button_to "Deletar", "#", method: :delete, form:{ data: {turbo_confirm: "Você tem certeza?"}}, class: "btn-learn-more mt-2 mb-2" %>
  </div>
</div>
