<div class="container">
<h1>Meu Pet</h1>
  <div class="row">
    <div class="card-product">
    <img src="#" />
    <div class="card-product-infos">
  </div>
  <div class="row">
    <%=@pet.name %>
    <%#=@pet.breed %>
    <%#=@pet.weight %>
    <%#=@pet.age %>
    <%#=@pet.sex %>
  </div>
</div>
<%# ----------------- ALIMENTAÇÃO -----------------%>
<div class="container">
  <h3>Alimentação</h3>
  <div class="row">
    <%= "Quantidade de ração recomendada (kg):" %>
  </div>
  <div class="row">
    <%= "Minha ração acaba em: " %>
  </div>
    <%= link_to "Comprar Ração", "#", class: "btn btn-primary"%>
</div>
<%# ----------------- HIGIENE -----------------%>
<div class="container">
  <h3>Higiene</h3>
  <div class="row">
    <%= "Meu último banho foi em: " %>
  </div>
  <div class="row">
    <%= "Minha última tosa foi em: " %>
  </div>
    <%= link_to "Agendar no PetShop", "#", class: "btn btn-primary"%>
</div>
<%# ----------------- SAÚDE -----------------%>
<div class="container">
  <h3>Saúde</h3>
  <div class="row">
    <%= "Minha próxima V8/V10 vai ser: " %>
  </div>
  <div class="row">
    <%= "Minha próxima Antirrábica vai ser: " %>
  </div>
  <div class="row">
    <%= "xxxxxxxxx: " %>
  </div>
  <div class="row">
    <%= "Meu remédio atual " %>
  </div>
  <div class="row">
    <%= "Tenho que tomar de: " %>
  </div>
  <div class="row">
    <%= "até o dia: " %>
  </div>
  <div class="row">
  </div>
</div>
<div class="container">
<%= link_to "Meu Portal", "#" , class: "btn btn-primary" %>
</div>
