<div class="background-pets">
  <div class="container-pets">
      <%= button_to "◁", pets_path, method: :get, class: "btn-gradient2 mt-2 mb-2" %>
    <%# ----------------- PET -----------------%>
    <div class="">
      <div class="nome">
        <h1><strong><%= @pet.name %></strong></h1>
      </div>
        <div class="card-pet mt-5">
        <% if @pet.photo.attached? %>
          <div class="petphoto" style= "background-image: url(<%= cl_image_path @pet.photo.key, :gravity=>"face", :height=>500, :width=>500, :crop=>"fill" %>)">
          <%#= cl_image_tag @pet.photo.key%>
          </div>
        <% end %>
        <div class="row text-start ps-5">
          <p> <strong>Raça:</strong>
          <%=@pet.breed %> </p>
          <p> <strong>Idade:</strong>
          <%=@pet.age %> </p>
          <p> <strong>Peso:</strong>
          <%=@pet.weight %>
          <%= "kg"%> </p>
          <p> <strong> Gênero:</strong>
          <%=@pet.sex %></p>
        </div>
      </div>
    </div>
    <%# ----------------- ALIMENTAÇÃO -----------------%>
   <div class="container center mt-5 mb-5">
      <div class="row card-pet">
        <h3><strong>🍗 Alimentação</strong></h3>
          <div class="col-6 text-start mt-3">
            <% if @food.nil? %>
             <p><strong>Cadê minha ração?  </strong></p>
            <% else %>
              <% calc = Food.end_date_food(@food.start_date, @food.bag_qty_kg, @food.daily_qty_kg) %>
              <p>Por dia, eu como: <strong><%= @food.daily_qty_kg %> g</strong> </p>
              <p>Eu gosto da ração: <strong><%= @food.brand %> </strong> </p>
              <p>Vou ficar sem ração no dia: <strong> <%= calc.strftime("%d/%m/%Y") %> </strong>  </p>
            <% end %>
           </div>
          <div class="col-6">
            <%= button_to "+", new_food_path, method: :get, class: "btn-gradient"%>
          </div>
      </div>
    </div>
    <%# ----------------- BANHO E TOSA -----------------%>
    <div class="container center mt-5 mb-5">
      <div class="row card-pet">
        <h3><strong>🛁 Banho e Tosa</strong></h3>
          <div class="col-6 text-start mt-3">

            <% if @bath.nil? %>
              <p><strong>Estou precisando de banho!  </strong></p>
            <% else %>
              <% stink_dog = Bath.end_date_bath(@bath.date) %>
              <p>Meu último banho/tosa foi em: <strong><%= @bath.date.strftime("%d/%m/%Y") %> </strong></p>
              <p>Estou há <strong><%= stink_dog.to_i%></strong> dias sem banho!</p>
            <% end %>
          </div>
          <div class="col-6">
            <%= button_to "+", new_bath_path, method: :get, class: "btn-gradient "%>
          </div>
      </div>
    </div>
    <%# ----------------- CONSULTAS VETERINÁRIO -----------------%>
    <div class="container center mt-5 mb-5">
      <div class="row card-pet">
        <h3><strong>🩺 Consultas Veterinário</strong></h3>
          <div class="col-6 text-start mt-3">
          <% if @appointment.nil? %>
            <p> <strong>Sem consultas para o seu bichinho!</strong> </p>
          <% else  %>
            <p>Você vai mentir pra mim falando que vamos passear, mas vamos no veterinário no dia: <strong><%= @appointment.date.strftime("%d/%m/%Y") %> </strong> </p>
          <%end  %>
          </div>
          <div class="col-6">
            <%= button_to "+", new_appointment_path, method: :get, class: "btn-gradient"%>
          </div>
      </div>
    </div>
    <%# ----------------- VACINAS -----------------%>
    <div class="container center mt-5 mb-5">
      <div class="row card-pet">
        <h3><strong>💉 Vacinas</strong></h3>
          <div class="col-6 text-start mt-3">
            <p>Ai ai ai!</p>

            <% if  @vaccines.nil? || @vaccines.empty?  %>
                <strong><p>Ainda não tomei vacina!</p></strong>
            <%else %>
              <% @vaccines.each do |vaccine| %>
                <% calc_exp = Vaccine.end_date_vaccine(vaccine.app_date) %>
                <p>Tenho que tomar a vacina <strong><%= vaccine.vaccine_type %></strong> no dia:<strong><%= calc_exp.strftime("%d/%m/%Y") %> </strong></p>
              <%end %>
            <%end %>
          </div>
          <div class="col-6">
            <%= button_to "+", new_vaccine_path, method: :get, class: "btn-gradient"%>
          </div>
      </div>
    </div>
    <%# ----------------- MEDICAMENTOS -----------------%>
    <div class="container center mt-5 mb-5">
      <div class="row card-pet">
        <h3><strong>💊 Medicamentos</strong></h3>
          <div class="col-6 text-start mt-3">
            <% if @medications.empty? %>
              <strong><p>Ufa! Não estou tomando remédio nenhum!</p></strong>
            <% else %>
              <p>Meu próximo medicamento vai ser:</p>
              <% @medications.each do |medication| %>
                <p><strong><%= medication.name %></strong>
                Intervalo de <strong><%= medication.frequency %></strong> horas</p>
                Início da medicação: <strong><%= medication.start_date.strftime("%d/%m/%Y") %></strong>
                Fim da medicação:<strong> <%= medication.end_date.strftime("%d/%m/%Y") %></strong>
              <%end %>
            <% end %>
          </div>
          <div class="col-6">
            <%= button_to "+", new_medication_path, method: :get, class: "btn-gradient"%>
          </div>
      </div>
    <%# ----------------- EDIT & DELETE -----------------%>
    <div class="container center mt-5 mb-5">
      <div class="row card-pet">
        <%= button_to "Deletar", "#", method: :delete, form:{ data: {turbo_confirm: "Você tem certeza?"}}, class: "btn-gradient2 mt-2 mb-2" %>
      </div>
    </div>
  </div>
</div>
