<div class="container">
<div class="card-pet mt-5">
  <img src="#" />
  <div class="row">
    <%= "Nome:"%>
    <%= @pet.name%>
  </div>
  <div class="row">
    <%= "Raça:"%>
    <%=@pet.breed %>
  </div>
  <div class="row">
    <%= "Idade:"%>
    <%=@pet.age %>
  </div>
  <div class="row">
    <%= "Peso:"%>
    <%=@pet.weight %>
    <%= "kg"%>
  </div>
  <div class="row">
    <%= "Gênero:"%>
    <%=@pet.sex %>
  </div>
</div>
<%# ----------------- ALIMENTAÇÃO -----------------%>
<div class="container mt-5">
  <h3><strong>Alimentação</strong></h3>
  <div class="row">
    <%= "Quantidade de ração recomendada (kg):" %>
  </div>
  <div class="row">
    <%= "Minha ração acaba em: " %>
  </div>
    <%= button_to "Comprar Ração", "#", method: :get, class: "btn-learn-more"%>
</div>
<%# ----------------- HIGIENE -----------------%>
<div class="container mt-5">
  <h3><strong>Higiene</strong></h3>
  <div class="row">
    <%= "Meu último banho foi em: " %>
  </div>
  <div class="row">
    <%= "Minha última tosa foi em: " %>
  </div>
    <%= button_to "Agendar no PetShop", "#", method: :get, class: "btn-learn-more"%>
</div>
<%# ----------------- SAÚDE -----------------%>
<div class="container mt-5">
  <h3><strong>Saúde</strong></h3>
  <div class="row">
    <%= "Minha próxima V8/V10 vai ser: " %>
  </div>
  <div class="row">
    <%= "Minha próxima Antirrábica vai ser: " %>
  </div>
  <div class="row">
    <%= "xxxxxxxxx: " %>
  </div>
  <div class="row">
    <%= "Meu remédio atual " %>
  </div>
  <div class="row">
    <%= "Tenho que tomar de: " %>
  </div>
  <div class="row">
    <%= "até o dia: " %>
  </div>
  <div class="row">
  </div>
</div>
