<div class="container mt-5">
  <div class="d-flex justify-content-center align-items-center">
    <h1>Detalhes dos agendamentos</h1>
  </div>
  <div class="container-food mt-5">
    <% if @baths.empty? %>
        "Voce nao possui nenhum agendamento."
    <% else %>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="text-align:center">Pet</th>
              <th style="text-align:center">Serviço</th>
              <th style="text-align:center">Petshop</th>
              <th style="text-align:center">Data</th>
              <th colspan="3"></th>
            </tr>
          </thead>

            <tbody>
              <% @baths.each do |bath| %>
                <tr>
                  <td style="text-align:center"><%= bath.pet.name %></td>
                  <td style="text-align:center"><%= bath.category %></td>
                  <td style="text-align:center"><%= bath.address %></td>
                  <td style="text-align:center"><%= bath.date.strftime("%d/%m/%Y") %></td>
                  <td><%= link_to edit_bath_path(bath) do %>
                     <i class="fa-solid fa-pen-to-square"></i>
                  <% end %>
                  </td>
                  <td><%= link_to bath_path(bath), data: {turbo_method: :delete, turbo_confirm: "Você tem certeza?"} do %>
                       <i class="fa-solid fa-trash-can"></i>
                  <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
    <% end %>
    <div class="col-12">
      <div class="d-flex justify-content-center align-items-center">
        <div class:"btn btn-gradient"><%= button_to "+ adicionar", new_bath_path, method: :get, class: "btn-gradient2" %>
        </div>
      </div>
    </div>
  </div>
</div>
