
<div class="container">
    <h1>Agendamento</h1>
        <%= simple_form_for @bath, as: :bath, url: baths_path(@bath), method: :post do |f| %>
        <%= f.input :pet, collection: @pet.map { |pet| [pet.name.capitalize, pet.id]}, include_blank: false %>
        <%= f.input :category, label: "Serviço", collection: Bath::SERVICE.map { |e| e.capitalize}, include_blank: false %>
        <%= f.input :address, label: "Endereço" %>
        <%= f.input :date, order:[:day, :month, :year], label: "Data" %>
        <%= f.submit "Agendar", class:"btn btn-primary" %>
    <% end %>
</div>
