<div class="container">
    <h1>Editar medicamento</h1>
        <%= simple_form_for @medication do |f| %>
        <%= f.input :name, label: "Nome" %>
        <%= f.input :dose, input_html:{min:0}, label: "Dosagem" %>
        <%= f.input :dose_unit, label: "Unidade da dosagem (Ex: gotas, miligramas, mililitros..)" %>
        <%= f.input :instructions, label: "Instruções de uso" %>
        <%= f.input :frequency, input_html:{min:0}, label: "Frequência de uso (intervalo de horas)" %>
        <%= f.input :days_qty, input_html:{min:0}, label: "Tomar até qual data?" %>
        <%= f.input :pet, as: :hidden, input_html: {value: @medication.pet.id} %>
        <%= f.submit "Editar", class:"btn btn-primary" %>
    <% end %>
</div>
