<div class="container">
    <h1>Editar medicamento</h1>
        <%= simple_form_for @medications, as: :medication, url: medications_path(@medication), method: :post do |f| %>
        <%= f.input :name, label: "Nome" %>
        <%= f.input :dose, label: "Dosagem" %>
        <%= f.input :dose_unit, label: "Unidade da dosagem" %>
        <%= f.input :instructions, label: "Instruçoes de uso" %>
        <%= f.input :frequency, label: "Frequencia" %>
        <%= f.input :days_qty, label: "Periodo a ser tomado" %>
        <%= f.submit "Editar", class:"btn btn-primary" %>
    <% end %>
</div>