<div class="container mt-5">
  <div class="d-flex justify-content-center align-items-center">
    <h1>Detalhes dos medicamentos</h1>
  </div>
  <div class="container-food mt-5">
    <% if @medications.empty? %>
        "Seu pet nao possui nenhum medicamento."
    <% else %>
      <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="text-align:center">Pet</th>
                <th style="text-align:center">Medicamento</th>
                <th style="text-align:center">Instruções</th>
                <th style="text-align:center">Frequencia</th>
                <th style="text-align:center">Início da medicação</th>
                <th style="text-align:center">Término da medicação</th>
                <th colspan="3"></th>
            </tr>
            </thead>

            <tbody>
                <% @medications.each do |medication| %>
                  <tr>
                    <td style="text-align:center"><%= medication.pet.name %></td>
                    <td style="text-align:center"><%= medication.name %></td>
                    <td style="text-align:center"><%= medication.instructions %></td>
                    <td style="text-align:center"v><%= medication.frequency %>/hrs</td>
                    <td style="text-align:center"><%= medication.start_date.strftime("%d/%m/%Y") %></td>
                    <td style="text-align:center"><%= medication.end_date.strftime("%d/%m/%Y") %></td>
                    <td><%= link_to edit_medication_path(medication) do %>
                      <i class="fa-solid fa-pen-to-square"></i>
                    <% end %>
                  </td>
                  <td><%= link_to medication_path(medication), data: {turbo_method: :delete, turbo_confirm: "Você tem certeza?"} do %>
                      <i class="fa-solid fa-trash-can"></i>
                    <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>
