<div class="container">
    <h1>Medicamento</h1>
    <%= simple_form_for @medication, as: :medication, url: medications_path(@medication), method: :post do |f| %>
        <%= f.input :pet, collection: @pet.map { |pet| [pet.name.capitalize, pet.id]}, include_blank: false %>
        <%= f.input :name, label: "Nome" %>
        <%= f.input :dose, input_html:{min:0}, label: "Dosagem" %>
        <%= f.input :dose_unit, label: "Unidade da dosagem (Ex: gotas, miligramas, mililitros..)" %>
        <%= f.input :instructions, label: "Instruções de uso" %>
        <%= f.input :frequency, input_html:{min:0}, label: "Frequência de uso (intervalo de horas)" %>
        <%= f.input :start_date, input_html:{min:0}, label: "Tomar até qual data?" %>
        <%= f.submit "Cadastrar", class:"btn btn-primary" %>
    <% end %>
</div>
