<div class="container">
    <h1>Editar vacina</h1>
    <%= simple_form_for @vaccine do |f| %>
        <%= f.input :pet, collection: @pet.map { |pet| [pet.name.capitalize, pet.id]}, include_blank: false %>
        <%= f.input :vaccine_type, label: "Vacina", collection: Vaccine::VACCINE.map, include_blank: false %>
        <%= f.input :app_date, order:[:day, :month, :year], start_year: Date.today.year,
        end_year: Date.today.year + 1, label: "Data de aplicaçãoo" %>
        <%= f.input :expiry_date, order:[:day, :month, :year], start_year: Date.today.year,
        end_year: Date.today.year + 5, label: "Data de vencimento" %>
        <p><%= f.check_box :notification %> Me lembre agendar nova vacina</p>
        <%= f.input :pet, as: :hidden, input_html: {value: @vaccine.pet.id} %>
        <%= f.submit "Editar", class:"btn btn-primary" %>
    <% end %>
</div>
