<div class="container">
    <h1>Vacina(s) do(s) seu(s) pet(s)</h1>

    <% if @vaccines.empty? %>
        "Seu pet nao possui nenhum medicamento."
    <% else %>
      <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Pet</th>
                <th style="text-align:center">Vacina</th>
                <th style="text-align:center">Data de aplicação</th>
                <th style="text-align:center">Data de vencimento</th>
                <th colspan="3"></th>
            </tr>
            </thead>

            <tbody>
                <% @vaccines.each do |vaccine| %>
                    <% calc_exp = end_date_vaccine(vaccine.app_date) %>
                    <tr>
                    <td><%= vaccine.pet.name %></td>
                    <td style="text-align:center"><%= vaccine.vaccine_type %></td>
                    <td style="text-align:center"><%= vaccine.app_date.strftime("%d/%m/%Y") %></td>
                    <td style="text-align:center"><%= calc_exp.strftime("%d/%m/%Y") %></td>
                    <td><%= link_to 'Editar', edit_vaccine_path(vaccine) %></td>
                    <td><%= link_to 'Deletar', vaccine_path(vaccine), data: {turbo_method: :delete, turbo_confirm: "Você tem certeza?"} %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
      </div>
    <% end %>
</div>
