<div class="container mt-5">
  <div class="d-flex justify-content-center align-items-center">
    <h1>Detalhes das vacinas</h1>
  </div>
  <div class="container-food mt-5">
    <% if @vaccines.empty? %>
        "Seu pet não possui nenhum medicamento."
    <% else %>
      <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="text-align:center">Pet</th>
                <th style="text-align:center">Vacina</th>
                <th style="text-align:center">Data de aplicação</th>
                <th style="text-align:center">Data de vencimento</th>
                <th colspan="3"></th>
            </tr>
            </thead>

            <tbody>
                <% @vaccines.each do |vaccine| %>
                    <% calc_exp = end_date_vaccine(vaccine.app_date) %>
                    <tr>
                      <td style="text-align:center"><%= vaccine.pet.name %></td>
                      <td style="text-align:center"><%= vaccine.vaccine_type %></td>
                      <td style="text-align:center"><%= vaccine.app_date.strftime("%d/%m/%Y") %></td>
                      <td style="text-align:center"><%= calc_exp.strftime("%d/%m/%Y") %></td>
                      <td><%= link_to edit_vaccine_path(vaccine) do %>
                          <i class="fa-solid fa-pen-to-square"></i>
                        <% end %>
                      </td>
                      <td><%= link_to vaccine_path(vaccine), data: {turbo_method: :delete, turbo_confirm: "Você tem certeza?"} do %>
                          <i class="fa-solid fa-trash-can"></i>
                        <% end %>
                      </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
      </div>
    <% end %>
    <div class="col-12">
      <div class="d-flex justify-content-center align-items-center">
        <div class:"btn btn-gradient"><%= button_to "+ adicionar", new_vaccine_path, method: :get, class: "btn-gradient2" %>
        </div>
      </div>
    </div>
  </div>
</div>
