<div class="card-product shadow-sm">
  <img src="<%= asset_path("pexels-helena-lopes.jpg")%>" class="pic" />
  <div class="card-product-infos-up">
    <h2>Pets são filhos de 4 patas.</h2>
    <p>LoveMyPet é o assistente virtual da saúde e rotina do seu pet.</p>
    <div>
      <%= link_to "Cadastre-se!", "#", class: "btn btn-gradient" %>
    </div>
  </div>

</div>
<div class="cards mt-5 mb-4 shadow-sm">
  <div class="py-4">
    <div class="destaque-left mt-5">
      <h2><strong>Alimentação</strong> </h2>
      <p class="p-text">Tempo médio de consumo e quando você deve programar a próxima compra.</p>

      <h2><strong>Saúde</strong> </h2>
      <p class="p-text">A saúde do seu pet vai estar sempre em dia com consultas, exames e vacinas na agenda.</p>
    </div>
  </div>
  <div class="card-img-category">
     <img src="<%= asset_path("pexels-julissa-helmuth.jpg")%>" class="pic" id="img-landing" />
  </div>
  <div class="py-4">
    <div class="destaque-right mt-5">
      <h2><strong>Bem Estar</strong> </h2>
      <p class="p-text">No pet shop ou em casa, banho e tosa vão sempre estar na agenda.</p>
      <h2><strong>Agenda</strong> </h2>
      <p class="p-text">Além dos lembretes, você pode visualizar todos os próximos eventos do seu pet em um só lugar.</p>
    </div>
  </div>
</div>
<div class="card-product shadow-sm">
  <div class="card-product-infos-down">
    <h2>Ração ou alimentação natural, banho e tosa, consultas e a lista continua.</h2>
    <p> Você só precisa cadastrar as informações do seu peludo e deixa que a gente te lembra do resto..</p>
    <div>
      <%= link_to "Comece agora", "#", class: "btn btn-gradient" %>
    </div>
  </div>
  <img src="<%= asset_path("pexels-humphrey-muleba.jpg")%>" class="pic"/>
</div>

<div class="d-flex justify-content-center align-items-center mt-5 mb-5">
<div class="about mt-2">
  <div class="a-box">
    <div class="img-container">
      <div class="img-inner">
        <div class="inner-skew">
          <img src="<%= asset_path("pexels-mevlüt-bilir-13095552.jpg")%>">
        </div>
      </div>
    </div>
    <div class="text-container">
      <h3>Claudinei</h3>
      <div>
      “Meu dog já está idoso e tem uma agenda cheia com acupuntura e checkups no vet. Com LoveMyPet eu nunca mais perdi uma data!”
      </div>
    </div>
  </div>
</div>
<div class="about mt-2">
  <div class="a-box">
    <div class="img-container">
      <div class="img-inner">
        <div class="inner-skew">
          <img src="<%= asset_path("pexels-ivan-babydov-7788913.jpg")%>">
        </div>
      </div>
    </div>
    <div class="text-container">
      <h3>Cleitin</h3>
      <div>
      “O pet shop perto da minha casa vive cheio e preciso agendar com muita antecedência. PetMyLove me ajudar a manter o Rex sempre com o banho em dia!”
      </div>
    </div>
  </div>
</div>
<div class="about mt-2">
  <div class="a-box">
    <div class="img-container">
      <div class="img-inner">
        <div class="inner-skew">
          <img src="<%= asset_path("pexels-dominika-roseclay-1139793.jpg")%>">
        </div>
      </div>
    </div>
    <div class="text-container">
      <h3>Ana</h3>
      <div>
      “A Pipoca toma um medicamento manipulado que só vende em outro estado. Antes do LoveMyPet eu vivia perdendo o prazo do pedido.”
      </div>
    </div>
  </div>
</div>
</div>
