<div class="card-product shadow-sm">
  <img src="<%= asset_path("pexels-helena-lopes.jpg")%>" class="pic" />
  <div class="card-product-infos-up">
    <h2>Join us and 洧뗺洧똓洧똖洧똌洧똑 洧륋롗봻롗뻟롗쀯롗 洧똋洧똓洧또洧똓洧똖 洧똗洧륋롗 洧똈洧똑洧똌洧똘.</h2>
    <p>洧뗺洧똓洧똖洧똌洧똑 洧륋롗봻롗뻟롗쀯롗 洧똋洧똓洧또洧똓洧똖 洧똗洧륋롗 洧똈洧똑洧똌洧똘 <strong>relevant info</strong> only.</p>
    <div>
      <%= link_to "Cadastre-se!", "#", class: "btn btn-gradient" %>
    </div>
  </div>

</div>
<div class="cards mt-5 mb-4 shadow-sm">
  <div class="card-category">
    <div class="destaque-left mt-5">
      <h2><strong>Alimenta칞칚o</strong> </h2>
      <p class="p-text">洧뗺洧똓洧똖洧똌洧똑 洧륋롗봻롗뻟롗쀯롗 洧똋洧똓洧또洧똓洧똖 洧똗洧륋롗 洧똈洧똑洧똌洧똘  洧뗺洧똓洧똖洧똌洧똑 洧륋롗봻롗뻟롗쀯롗 <strong>relevant info</strong> only.</p>

      <h2><strong>Sa칰de</strong> </h2>
      <p class="p-text">洧뗺洧똓洧똖洧똌洧똑 洧륋롗봻롗뻟롗쀯롗 洧똋洧똓洧또洧똓洧똖 洧똗洧륋롗 洧똈洧똑洧똌洧똘 洧똔洧똗洧똙洧똑 洧똋洧똓洧또洧똓洧똖 洧똗洧륋롗 洧똈洧똑洧똌洧똘 <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="card-img-category">
     <img src="<%= asset_path("pexels-julissa-helmuth.jpg")%>" class="pic" id="img-landing" />
  </div>
  <div class="card-category">
    <div class="destaque-right mt-5">
      <h2><strong>Bem Estar</strong> </h2>
      <p class="p-text">洧뗺洧똓洧똖洧똌洧똑 洧륋롗봻롗뻟롗쀯롗 洧똋洧똓洧또洧똓洧똖 洧똗洧륋롗 洧똈洧똑洧똌洧똘 洧똈洧똑洧똌洧똘 <strong>relevant info</strong> only.</p>
      <h2><strong>Card Title</strong> </h2>
      <p class="p-text">洧뗺洧똓洧똖洧똌洧똑 洧륋롗봻롗뻟롗쀯롗 洧똋洧똓洧또洧똓洧똖 洧똗洧륋롗 洧똈洧똑洧똌洧똘  洧똋洧똓洧또洧똓洧똖 洧똗洧륋롗 洧똈洧똑洧똌洧똘 <strong>relevant info</strong> only.</p>
    </div>
  </div>
</div>
<div class="card-product shadow-sm">
  <div class="card-product-infos-down">
    <h2>洧뗺洧똓洧똖洧똌洧똑 洧륋롗봻롗뻟롗쀯롗 洧똋洧똓洧또洧똓洧똖 洧똗洧륋롗 洧똈洧똑洧똌洧똘  洧뗺洧똓洧똖洧똌洧똑 洧륋롗뻟롗 洧똈洧똑洧똌洧똘.</h2>
    <p>洧뗺洧똓洧똖洧똌洧똑 洧륋롗봻롗뻟롗쀯롗 洧똋洧똓洧또洧똓洧똖 洧똗洧륋롗 洧똈洧똑洧똌洧똘  洧뗺洧똓洧똖洧똌洧똑洧똗洧륋롗 洧똈洧똑洧똌洧똘 <strong>relevant info</strong> only.</p>
    <div>
      <%= link_to "Start now", "#", class: "btn btn-gradient" %>
    </div>
  </div>
  <img src="<%= asset_path("pexels-humphrey-muleba.jpg")%>" class="pic"/>
</div>

<div class="about mt-2">
  <div class="a-box">
    <div class="img-container">
      <div class="img-inner">
        <div class="inner-skew">
          <img src="<%= asset_path("pexels-mevl칲t-bilir-13095552.jpg")%>">
        </div>
      </div>
    </div>
    <div class="text-container">
      <h3>Claudinei</h3>
      <div>
        洧뗺洧똓洧똖洧똌洧똑 洧륋롗봻롗뻟롗쀯롗 洧똑 洧륋롗봻롗뻟롗쀯롗  洧똈洧똑洧똌洧똘 洧뗺洧똓洧똖洧똌洧똑 洧륋롗봻롗뻟롗쀯롗 洧똋洧똓洧또洧똓洧똖 洧똗洧륋롗 洧똈洧똑洧똌洧똘.
    </div>
  </div>
</div>
<div class="about mt-2">
  <div class="a-box">
    <div class="img-container">
      <div class="img-inner">
        <div class="inner-skew">
          <img src="<%= asset_path("pexels-ivan-babydov-7788913.jpg")%>">
        </div>
      </div>
    </div>
    <div class="text-container">
      <h3>Cleitin</h3>
      <div>
        洧뗺洧똓洧똖洧똌洧똑 洧륋롗봻롗뻟롗쀯롗 洧똋洧똓洧또洧똓洧똖 洧똗洧륋롗 洧똈洧똑洧똌洧똑 洧똋洧똓洧또洧똓洧똖 洧똗洧륋롗 洧똑 洧똋洧똓洧또洧똓洧똖 洧똗洧륋롗 洧똈洧똑洧똌洧똘.
    </div>
  </div>
</div>
<div class="about mt-2">
  <div class="a-box">
    <div class="img-container">
      <div class="img-inner">
        <div class="inner-skew">
          <img src="<%= asset_path("pexels-dominika-roseclay-1139793.jpg")%>">
        </div>
      </div>
    </div>
    <div class="text-container">
      <h3>Ana</h3>
      <div>
        洧뗺洧똓洧똖洧똌洧똑 洧륋롗봻롗뻟롗륋롗 洧똈洧똑洧똌洧똘. It looks good.
    </div>
  </div>
</div>
