<div class="container shadow-sm p-3 mb-5 bg-white rounded mt-4" >
    <div class="cover mb-4 d-flex align-items-center justify-content-center">
      <div class="text-center">
        <h1>Meu Perfil</h1>
        <div>
        <% if current_user.avatar.attached?%>
            <%= cl_image_tag current_user.avatar.key, width: 150, class: "avatar-perfil", style:"margin-left: auto; margin-right: auto;"%>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-perfil", style:"width: 150px; margin-left: auto; margin-right: auto;"%>
            <% end %>
        </div>
        <h3 class="typed-js" data-controller="typed-js"></h3>
      </div>
    </div>

<%# PERFIL USUÁRIO %>

    <form class="row">
      <%if @user.first_name?  %>
        <div class="col-md-6">
          <label class="form-label">Nome</label>
          <input type="text" class="form-control" value="<%=@user.first_name%>">
        </div>
      <%else  %>
        <div class="col-md-6">
          <label class="form-label">Nome</label>
          <input type="text" class="form-control" placeholder="Nome">
        </div>
      <%end %>
      <div class="col-md-6">
        <label class="form-label">Sobrenome</label>
        <input type="text" class="form-control" value="<%=@user.last_name%>">
      </div>
      <div class="col-md-6">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" value="<%=@user.email%>">
      </div>
      <div class="col-md-6">
        <label class="form-label">Endereço</label>
         <input type="text" class="form-control" value="<%=@user.address%>">
      </div>
       <div class="mt-2">
          <%= link_to "Editar perfil", edit_user_registration_path, class: "btn btn-primary ml-4", data: {turbo: false} %>
       </div>
    </form>
</div>

