<div class="container shadow-sm p-3 mb-5 bg-white rounded mt-4" >
    <div class="cover mb-4 d-flex align-items-center justify-content-center">
      <div class="text-center">
        <h1>Meu Perfil</h1>
        <div>
        <% if current_user.avatar.attached?%>
            <%= cl_image_tag current_user.avatar.key, width: 150, class: "avatar-perfil", style:"margin-left: auto; margin-right: auto;"%>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-perfil", style:"width: 150px; margin-left: auto; margin-right: auto;"%>
            <% end %>
        </div>
        <h3 class="typed-js" data-controller="typed-js"></h3>
      </div>
    </div>

<%# PERFIL USUÁRIO %>

    <form class="row">
      <%if @user.first_name?  %>
        <div class="col-md-6">
          <label class="form-label">Nome</label>
          <input type="text" class="form-control" value="<%=@user.first_name%>">
        </div>
      <%else  %>
        <div class="col-md-6">
          <label class="form-label">Nome</label>
          <input type="text" class="form-control" placeholder="Nome">
        </div>
      <%end %>
      <div class="col-md-6">
        <label class="form-label">Sobrenome</label>
        <input type="text" class="form-control" value="<%=@user.last_name%>">
      </div>
      <div class="col-md-6">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" value="<%=@user.email%>">
      </div>
      <div class="col-md-6">
        <label class="form-label">Endereço</label>
         <input type="text" class="form-control" value="<%=@user.address%>">
      </div>
       <div class="mt-2">
          <%= link_to "Editar perfil", edit_user_registration_path, class: "btn btn-primary ml-4", data: {turbo: false} %>
       </div>
    </form>
</div>

<%# ADICIONAR BICHO %>

<div class="container shadow-sm p-3 mb-5 bg-white rounded">
  <div class="cover mb-4 d-flex align-items-center justify-content-center">
    <div class="text-center">
      <h1>Meus Pets</h1>
      <h3 class="typed-js" data-controller="typed-js"></h3>
    </div>
  </div>
  <div class="row justify-content-around">
    <%@pets.each do |pet|%>
      <div class="card ml-3 mt-2" style="width: 18rem;">
        <% if pet.photo.attached?%>
        <%= cl_image_tag pet.photo.key, width: 945, class: "pet-img card-img-top" %>
        <% else %>
        <img src="https://images.pexels.com/photos/39317/chihuahua-dog-puppy-cute-39317.jpeg?auto=compress&cs=tinysrgb&w=600" style="border-radius: 5%; margin-top: 1rem;" class="pet-img card-img-top" alt="...">
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= pet.name %></h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa-solid fa-paw"></i> Raça: <%= pet.breed %></li>
        </ul>
        <div class="card-body">
        </div>
      </div>
    <% end %>
  </div>
  <div>
    <%= link_to "Adicionar Pets", new_pet_path, class: "btn btn-primary ml-4 mt-4" %>
    <%= link_to "Ver pets", pets_path, class: "btn btn-primary ml-4 mt-4" %>
  </div>
</div>

<%# Menu %>

<div class="container shadow-sm p-3 mb-4 bg-white rounded">
  <div class="cover mb-2">
    <div class="d-flex flex-column">
      <div>
        <p><%= link_to "Alimentação", foods_path, class: "card-category", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1568640347023-a616a30bc3bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80)" %></p>
      </div>
      <div>
        <p><%= link_to "Banho & Tosa", baths_path, class: "card-category", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1559304787-945aa4341065?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=395&q=80)" %></p>
      </div>
      <div>
        <p><%= link_to "Consultas Veterinário", appointments_path, class: "card-category", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1584982751601-97dcc096659c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80)" %></p>
      </div>
      <div>
        <p><%= link_to "Vacinas", vaccines_path, class: "card-category", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1579781403337-de692320718a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=743&q=80)" %></p>
      </div>
      <div>
        <p><%= link_to "Medicamentos", medications_path, class: "card-category", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1622227922682-56c92e523e58?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)" %></p>
      </div>
    </div>
  </div>
</div>
