<div class="container mt-5">
  <div class="d-flex justify-content-center align-items-center">
    <h1>Detalhes das rações</h1>
  </div>
  <div class="container-food mt-5">
    <% if @foods.empty? %>
      "Você não possui nenhuma ração registrada."
    <% else %>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="text-align:center">Pet</th>
              <th style="text-align:center">Tipo de ração</th>
              <th style="text-align:center">Marca</th>
              <th style="text-align:center">Qtd do pacote (kg)</th>
              <th style="text-align:center">Qtd diária (g)</th>
              <th style="text-align:center">Data da compra</th>
              <th style="text-align:center">Próxima compra</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @foods.each do |food| %>
              <% calc = Food.end_date_food(food.start_date, food.bag_qty_kg, food.daily_qty_kg) %>
              <tr>
                <td style="text-align:center"><%= food.pet.name %></td>
                <td style="text-align:center"><%= food.category %></td>
                <td style="text-align:center"><%= food.brand %></td>
                <td style="text-align:center"><%= food.bag_qty_kg %></td>
                <td style="text-align:center"><%= food.daily_qty_kg %></td>
                <td style="text-align:center"><%= food.start_date.strftime("%d/%m/%Y") %></td>
                <td style="text-align:center"><%= calc.strftime("%d/%m/%Y") %></td>
                <td><%= link_to edit_food_path(food) do %>
                  <i class="fa-solid fa-pen-to-square"></i>
                 <% end %>
                 </td>
                 <td><%= link_to food_path(food), data: {turbo_method: :delete, turbo_confirm: "Você tem certeza?"} do %>
                    <i class="fa-solid fa-trash-can"></i>
                  <% end %>
                 </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>
