
<div class="container">
    <h1>Alimentação</h1>
    <%= simple_form_for @food, as: :food, url: foods_path(@food), method: :post do |f| %>
        <%= f.input :pet, collection: @pet.map { |pet| [pet.name.capitalize, pet.id]}, include_blank: false %>
        <%= f.input :category, label: "Tipo de ração", collection: Food::FOOD.map { |e| e.capitalize}, include_blank: false %>
        <%= f.input :brand, label: "Marca", collection: Food::BRAND, include_blank: false %>
        <%= f.input :bag_qty_kg, label: "Quantidade do pacote" %>
        <%= f.input :daily_qty_kg, label: "Quantidade diária" %>
        <%= f.input :start_date, label: "Início de uso desta ração" %>
        <%= f.submit "Cadastrar", class:"btn btn-primary" %>
    <% end %>
</div>
