<div class="d-flex justify-content-center align-items-center">
  <h1>🍗Alimentação</h1>
</div>

<div class="container bg-secondary rounded-5 p-2">
  <div class="bg-secondary rounded-5 px-4 py-2">
    <%= simple_form_for @food, as: :food, url: foods_path(@food), method: :post do |f| %>
     <div class="col-12">
     <%= f.input :pet, collection: @pet.map { |pet| [pet.name.capitalize, pet.id]}, include_blank: false %>
     </div>
    <div class="row">
     <div class="col-md-4">
      <%= f.input :category, label: "Tipo de ração", collection: Food::FOOD.map { |e| e.capitalize}, include_blank: false %>
     </div>
      <div class="col-md-8">
       <%= f.input :brand, label: "Marca", collection: Food::BRAND, include_blank: false %>
      </div>
    </div>
    <div class="row">
     <div class="col-md-6">
      <%= f.input :bag_qty_kg, input_html:{min:0, class:"form-control"}, required: true, label: "Quantidade do pacote (kg)" %>
     </div>
     <div class="col-md-6">
      <%= f.input :daily_qty_kg, input_html:{min:0, class:"form-control"}, required: true, label: "Quantidade diária (g)" %>
     </div>
    </div>
    <div class="col-12">
     <%= f.input :start_date, as: :date, start_year: Date.today.year - 1,
     end_year: Date.today.year + 1, order: [:day, :month, :year], label: "Início de uso desta ração" %>
    </div>
    <div class="col-12">
     <div class="d-flex justify-content-center align-items-center">
      <%= f.submit "Cadastrar", class:"btn btn-gradient" %>
     </div>
    </div>
  </div>
  <% end %>
</div>
