<div class= "container">
  <h1>Editar consulta</h1>
    <%= simple_form_for @appointment do |f| %>
      <%= f.input :date, order:[:day, :month, :year], start_year: Date.today.year,
      end_year: Date.today.year + 1, label: "Data da consulta" %>
      <%= f.input :title, label: "Motivo da consulta" %>
      <%= f.input :address, label: "Endereço" %>
      <%= f.input :phone, label: "Telefone" %>
      <%= f.input :pet, as: :hidden, input_html: {value: @appointment.pet.id} %>
      <%= f.submit "Adicionar consulta", class:"btn btn-primary" %>
  <% end %>
</div>

<div class="container">
<%= link_to "Meu Portal", "#" , class: "btn btn-primary" %>
</div>
